@media screen and (max-width: 720px) {
    .trends-title {
        font-size: 2rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .trends-list {
        margin: 3% auto;
    }
    .trend-item {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        padding: 3%;
        border-top: 1px solid #dbdbdb;
    }
    .trend-info {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-left: 20%;
    }
    .trend-id {
        font-size: 2rem;
        color: lightgray;
        width: 3rem;
        height: inherit;
        line-height: 3rem;
        float: left;
    }
    .trend-name {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }
    .trend-volume {
        font-size: 1rem;
        color: lightgray;
        align-self: flex-start;
    }
}

.trends-title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.trends-list {
    margin: 3% auto;
}

.trend-item {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 3%;
    border-top: 1px solid #dbdbdb;
}

.trend-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 20%;
}

.trend-id {
    font-size: 2rem;
    color: lightgray;
    width: 3rem;
    height: inherit;
    line-height: 3rem;
    float: left;
}

.trend-name {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.trend-volume {
    font-size: 1rem;
    color: lightgray;
    align-self: flex-start;
}