.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    text-align: left;
    margin: 1em 1em 1em 0;
    padding-left: 2em;
}

.search-icon {
    position: relative;
    left: 1.4em;
    top: 0.15em;
    color: #1dcaff;
    font-size: 2.5em;
}

.search-input {
    box-sizing: border-box;
    width: 70%;
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: whitesmoke;
    padding: 15px 15px 15px 50px;
    transition: ease-in-out 0.3s;
}

button {
    margin-right: 20%;
    padding: 1%;
    background-color: #1dcaff;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-size: 1.5rem;
}

.tweet-container {
    margin: 3rem 2rem;
    border-top: 1px solid #dbdbdb;
    padding-top: 2rem;
}

.user-logo img {
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.user-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.user-data div {
    margin-left: 3rem;
}

.user-name {
    font-weight: bold;
    margin-right: 3em;
}

.tweet-info {
    margin-left: 5rem;
}

.tweet-text {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.tweet-img img {
    width: 90%;
}

.interactions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.interactions div i {
    font-size: 2rem;
    font-weight: normal;
}

@media (max-width: 720px) {
    .search-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    button {
        margin-right: 20%;
        padding: 2%;
        background-color: #1dcaff;
        color: white;
        border: 1px solid lightslategray;
        border-radius: 5px;
        font-size: 1.5rem;
    }
    .tweet-container {
        margin: 3rem 2rem;
        border-top: 1px solid #dbdbdb;
        padding-top: 2rem;
    }
    .user-logo img {
        border-radius: 50%;
    }
    .user-info {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .user-data {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .user-data div {
        margin-left: 3rem;
    }
    .user-name {
        font-weight: bold;
        margin-right: 3em;
    }
    .tweet-info {
        margin-left: 5rem;
    }
    .tweet-text {
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .tweet-img img {
        width: 90%;
    }
    .interactions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 2em;
    }
    .interactions div i {
        font-size: 2rem;
        font-weight: normal;
    }
}