<div class="container">
    <h1>Gwitter</h1>
    <nav class="navigation">
        <div class="home-section" [routerLink]="['/home']">
            <i class="fas fa-home icon"></i>
            <a class="home"></a>
        </div>

        <div class="search-section" [routerLink]="['/search']">
            <i class="fas fa-search"></i>
            <a class="search"></a>
        </div>

        <div class="config-section" [routerLink]="['/configuration']">
            <i class=" fas fa-cog "></i>
            <a class="config "></a>
        </div>
    </nav>
</div>

<div class="line">
    <hr />
</div>