<app-header></app-header>

<section class="config-title">
    <h2>Silence notifications from ...</h2>
</section>

<section class="options-container">
    <label class="option-item">
    <span class="option-text">People who have not verified the account</span>
    <input type="checkbox" />
  </label>

    <label class="option-item">
    <span class="option-text">People who do not follow</span>
    <input type="checkbox" />
  </label>

    <label class="option-item">
    <span class="option-text">People who have default profile information</span>
    <input type="checkbox" />
  </label>

    <label class="option-item">
    <span class="option-text">Tweets that contains a link</span>
    <input type="checkbox" />
  </label>

    <label class="option-item">
    <span class="option-text">Tweets that has text truncated</span>
    <input type="checkbox" />
  </label>
</section>