<div class="container" *ngIf="tweet">
    <header>
        <div [routerLink]="['/home']">--</div>
        <h1>Tweet</h1>
    </header>

    <main>
        <div class="user-container">
            <div id="user-logo">
                <img src="{{ tweet.user.profile_image_url }}" />
            </div>
            <div class="user-info">
                <div>
                    <h2 id="user-name">{{ tweet.user.name }}</h2>
                </div>
                <div>
                    <h2 id="user-account">{{ tweet.user.screen_name | screenUser }}</h2>
                </div>
            </div>
        </div>
        <div class="tweet-container">
            <div class="tweet-text">
                <p>{{ tweet.text }}</p>
            </div>

            <div class="tweet-img" *ngIf="tweet.entities.media">
                <img src="{{ tweet.entities.media[0].media_url }}" alt="Tweet picture not found" />
            </div>

            <div class="tweet-date">
                <p>
                    {{ tweet.created_at | date: "h:mm" }} p.m. - {{ tweet.created_at | date: "d LLL. yy" | lowercase }}
                </p>
            </div>
        </div>

        <hr />

        <div class="tweet-details">
            <div class="interaction">{{ tweet.retweet_count }} Retweets</div>
            <div class="interaction">{{ tweet.favorite_count }} Like</div>
        </div>

        <hr />
    </main>

    <footer>
        <div>Heart</div>
        <div>Retweet</div>
        <div>Comments</div>
    </footer>
</div>